﻿html, html a 
{
}

a, a:hover, a:focus { text-decoration:none;  }


body { 
    background-color:#D4D5D7;
    font-family:"Trebuchet MS", Tahoma, Arial;
    font-size: 12px; 
    color:#333333; 
}

#bg {background-image:url(/assets/img/topBG.png);width:100%;height:100%;z-index:-5;position:fixed;background-attachment:fixed;top:0px;left:0px;}

/*#bgW {background-image:url(/assets/img/bgw.png);background-repeat:repeat-x; width:100%;height:100%;z-index:-4;position:fixed;background-attachment:fixed;background-position:bottom;}*/


/* TEMİZLEME SATIR */

.satir::before, .satir::after {
    display: table;
    line-height: 0;
    content: "";
}

.satir::after {
clear: both;
}


.satir::before, .satir::after {
display: table;
line-height: 0;
content: "";
}

/* TEMİZLEME SATIR BITIR*/



/* MARGINLER */

.mt0 {margin-top:0px;}
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt27 { margin-top:27px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }

.mb0 {margin-bottom:0px;}
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }

.ml0 {margin-left:0px;}
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }

.ml5_ { margin-left:-5px; }
.ml10_ { margin-left:-10px; }
.ml15_ { margin-left:-15px; }
.ml20_ { margin-left:-20px; }
.ml25_ { margin-left:-25px; }
.ml30_ { margin-left:-30px; }
.ml35_ { margin-left:-35px; }
.ml40_ { margin-left:-40px; }
.ml45_ { margin-left:-45px; }
.ml50_ { margin-left:-50px; }

.mr0 {margin-right:0px;}
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }

.mr5_ { margin-right:-5px; }
.mr10_ { margin-right:-10px; }
.mr15_ { margin-right:-15px; }
.mr20_ { margin-right:-20px; }
.mr25_ { margin-right:-25px; }
.mr30_ { margin-right:-30px; }
.mr35_ { margin-right:-35px; }
.mr40_ { margin-right:-40px; }
.mr45_ { margin-right:-45px; }
.mr50_ { margin-right:-50px; }


/* MARGINLER BITIR */

/* TEXTBOX TEMIZLEME */

.arama textarea,.arama  input[type="text"],.arama  input[type="password"],.arama  input[type="datetime"],.arama  input[type="datetime-local"],.arama  input[type="date"],.arama  input[type="month"],.arama  input[type="time"],.arama  input[type="week"],.arama  input[type="number"],.arama  input[type="email"],.arama  input[type="url"],.arama  input[type="search"],.arama  input[type="tel"],.arama  input[type="color"],.arama  .uneditable-input 
{
    background-color: #ffffff;
    border: 0px solid #cccccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    -webkit-transition: border linear 0.0s, box-shadow linear 0.0s;
    -moz-transition: border linear 0.0s, box-shadow linear 0.0s;
    -o-transition: border linear 0.0s, box-shadow linear 0.0s;
    transition: border linear 0.0s, box-shadow linear 0.0s;
}

.arama { margin-right:-4px; }

.inputarama {
    background: url('/assets/img/inputbg.jpg') no-repeat;
    font-size: 10px;
    color: #FF0000;
    border: 0px solid #fff;
    padding: 0;
    padding-left: 0px;
    width:135px;
    height:28px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 10px 0 0 -2px;

    }

/* TEXTBOX TEMIZLEME BITIR */

#menu {background-image:url(/assets/img/menuBG.png); background-repeat:no-repeat;list-style:none;margin:0px;padding:0px;
       height:60px;padding-left:70px;width:540px;
}
    #menu li {float:left;padding:15px;
              margin-left:5px;
    }

.menu-bar {float:left;position:absolute;}
.menu-bar:nth-child(1) {left: -167px;
top: -20px;
height:165px;width:501px;
background-image:url(/assets/img/logo.png); background-repeat:no-repeat;
    }
    .menu-bar:nth-child(2) {left:208px;
    }
    .menu-bar:nth-child(3) {right:0px;
    }
    .menu-bar:nth-child(4) {
        top:39px;
        left:357px;
    }

    .menu-bar:nth-child(4):hover {
        top:41px;
        left:357px;
    }

    .menu-bar:nth-child(5) {
        top:39px;
        left:590px;
    }
    .menu-bar:nth-child(5):hover {
        top:41px;
        left:590px;
    }

    .menu-bar:nth-child(6) {
        top:39px;
        left:758px;
        width:167px;
        height:58px;
        background-image:url('/assets/img/cagri_merkezi.png');
        background-position:center center;
        background-repeat:no-repeat;
    }
    .menu-bar:nth-child(6):hover {
        top:41px;
        left:758px;
    }

      /*.menu-bar:nth-child(7) {
        top:53px;
        left:772px;
    }

    .menu-bar:nth-child(7):hover {
        top:56px;
        left:772px;
    }*/

.cagri {
    margin-top:12px;
    margin-left:13px;
}


#menu a {font-size:14px;font-weight:bold;color:#008FD0;}
#menu a:hover {color:#406371;}

.menu-bar:nth-child(1) h1 a {display:block;position:absolute;z-index:-2; height:100px; width:210px; left:156px; top:22px;}

#slider {}

.infoBGs {background-image:url(/assets/img/infoBGs.png); background-repeat:no-repeat;height:197px;padding:7px;line-height:14px;font-family:Arial !important;font-size:10px;
}
.noBg {
    background-image:none;
}

.alignn {text-align:center;
}

.foter-yazi {
font-weight:bold;
}

#topMenu {width: 100%; height: 225px; 
}

.newsa {font-weight:bold;color:#212121 !important;
        padding-right:15px;
}

.left-menu-item {
    text-align:center;
    margin:5px 10px 0px 10px;
    background-image:url(/assets/img/left-menu-item-bg.png);
    background-position:top center;
    background-repeat:no-repeat;
    font-family:'Trebuchet MS',Arial;
    font-size:15px;
    font-weight:bold;
    color:#0092CE;
    height:52px;
}
.yaz {
    display:inline-block;
    margin-top:20px;
}

.leftBg {
    background-color:rgba(0,141,202,0.50);
    padding-bottom:15px;
    min-height:580px;
}

.page-baslik {
    background-color:rgba(0,141,202,0.50);
    color:#fff;
    font-family:'Trebuchet MS';
    font-size:25px;
    font-weight:bold;
    padding:20px;
}

.page-icerik {
    font-size: 16px;
    font-weight: normal;
    min-height: 486px;
}

table.address {
    margin-left:10px;
}

table.address tr td {
    font-family:'Trebuchet MS';
    font-size:16px;
    padding-bottom:10px;

}
table.address tr td:first-child {
    font-weight:bold;
    padding-right:15px;
}

    table.address tr td:nth-child(2) {
        padding-left:10px;
        padding-right:10px;
    }

.harita {
    padding-left:60px;
    padding-top:20px;
    padding-bottom:45px;
}

.bgGrady {
    background-image:url(/assets/img/bgBeyaz.png);
    background-position-x:left;
    background-position-y:500px;
    background-repeat:repeat-x;
}

.bgBeyaz {
     background-image:url(/assets/img/bgBeyaz.jpg);
    background-position-x:left;
    background-position-y:1200px;
    background-repeat:repeat-x;
    padding-bottom:500px;
}

.haber_cont {
   background-color:#cccccc;
    padding:10px 30px 10px 10px;
    margin:5px;
}

    .haber_cont p:first-child {
       color:#333333;
       font-size:20px;
       font-weight:bold;
    }



.faqs {
    padding-top: 0px;
}

    .faqs dt {
        font-weight: bold;
        font-size: 14px;
        padding: 0px 0 0px 0px;
        position: relative;
        cursor: pointer;
    }

        .faqs dt:hover {
            cursor: pointer;
            color: rgb(187, 104, 39);
        }

    .faqs dd {
        padding: 10px 0 10px 0px;
        position: relative;
        color: #333;
    }

    .faqs .hover {
        color: #000;
        text-decoration: none;
    }



.banner-yazi {
    height:304px;
    text-align:center;
    font-family:'Trebuchet MS';
    font-size:80px;
    font-weight:bold;
    vertical-align:text-top;

}

    .banner-yazi p {
        color:#fff;
        line-height:90px;
    }

.banner-baslik {
     font-size:80px;
    font-weight:bold;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.banner-icerik {
     font-size:37px;
    font-weight:bold;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.vitrin-yazi {
min-height:55px;
}