/* Demo CSS - You do not need this css in your own slider */


pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#container{
	max-width:670px;
	margin:0 auto;
}

/*#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}*/


ul.bjqs-controls.v-centered li a{
  
	display:block;
	padding:2px;
    background-color:#fa9857;
	background-color:rgba(245,158,20,0.5);
	color:#000;
	text-decoration: none;
    font-family:Arial;
}

ul.bjqs-controls.v-centered li a:hover{
    background-color:#ff4e00;
	background-color:rgba(245,158,20,0.9);
	color:#000;
    
}

ol.bjqs-markers {
top:-47px;
position:relative;
display:block;
left:10px;
}

ol.bjqs-markers li a{
    font-size:0px !important;
	padding:0px 5px 0px 5px;
	background-color:#FFFFFF;
	color:#000;
	margin:5px;
	text-decoration: none;
    border-radius:5px;
    line-height:10px;
    width:0px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background-color:#0092CF
}

p.bjqs-caption{
    background-image:url(/assets/img/banner-caption.png);
    background-repeat:no-repeat;
    background-position:left center;
    margin-left:0px;
    font-family: 'Cuprum', sans-serif;
    font-size:20px;
    color:#fff;
    margin-bottom:50px;
    padding-left:35px;
}