﻿#background,#menu,#indirimhesapla,#close,#enerjihatti,#bgchange,#indirim-hesapla,#enerji-hatti,.faturayazdir,#twitter-icon,#facebook-icon,#movie-icon,.slidenumber,.sliderright,.yuzde,#advbena-bsg,#teklif-istek-formu { display:none !important; }

#indirimdiv { width:982px; background:#fff; z-index:10; position:absolute; left:0; top:93px; display:none; }
#indirimall { height:434px; }
.indirim-cont { padding:34px 0 0 0; }
#indirim-left { width:450px; float:left; }
.table1 td { font-weight:bold; padding:2px; }
#TuketimMiktari { width:78px; height:16px; border:0; padding:0 2px; line-height:12px; font-size:10px; text-align:right; }
#IndirimOrani { width:32px; height:16px; border:0; padding:0 2px; line-height:14px; font-size:12px; color:red; text-align:center; text-align:right; }
#KazancAylik, #KazancYillik { width:95px; height:20px; border:0; padding:0 2px; line-height:14px; font-size:14px; text-align:right; }
#indirim-right { border:1px #00579f solid; padding:4px 4px 6px; width:408px; float:left; clear:both; margin-top:50px; }
#fatura-ust { width:408px; height:111px; position:relative; }
/*#FaturaTarihi { width:78px; height:16px; border:0; padding:0 2px; line-height:12px; font-size:12px; position:absolute; top:60px; left:70px; color:#00579f; display:none; }*/
#FaturaTarihi { width:100px; height:16px; border:0; line-height:12px; font-size:10px; position:absolute; top:76px; left:0px; color:#00579f; }
#Sayin { line-height:12px; font-size:10px; position:absolute; top:91px; left:0px; color:#00579f; }
#Sayin #isim { width:78px; height:16px; border:0; padding:0 2px; line-height:12px; font-size:10px; color:#00579f; }
#AboneGrubu { width:299px; height:16px; border:0; padding:0 2px; line-height:12px; font-size:12px; text-align:left; }
.fatura { width:408px; color:#00579f; font-size:12px; border-left:1px #00579f solid; border-top:1px #00579f solid; }
.fatura td { border-right:1px #00579f solid; border-bottom:1px #00579f solid; height:16px; padding:0 1px; text-align:center; }
.fatura .baslik { color:#f00; font-weight:bold;}
.fatura td input { border:0; width:60px; text-align:center; font-size:12px; background:#fff; color:#00579f; }
#kazanci-holding-logo { clear:both; position:relative; margin-top:350px; left:0; margin-left:100px;}