﻿


#indirimdiv {
    height:0px; background:#fff; position:absolute; left:20%; top:57px; display:none; height:730px;
    border: solid 1px #808080;
    border-radius:4px;
    padding:5px;
    width:937px;
}
#indirimall {  }
.indirim-cont { padding:25px 25px 0 40px; display:none; }
#indirim-left { width:400px; float:left; }
.table1 td { font-weight:normal; padding:2px; color:#808080; font-size:12px;}
#TuketimMiktari { width:78px; height:20px; background-color:#d4d3cd; border:0; padding:0 2px; line-height:20px; font-size:14px;}
#IndirimOrani { width:32px; height:20px;  background-color:#d4d3cd; border:0; padding:0 2px; line-height:20px; font-size:14px; color:red; text-align:center; }

#AdSoyad { width:95px; height:20px; background-color:#d4d3cd; border:0; padding:0 2px; line-height:20px; font-size:12px; }
#KazancAylik, #KazancYillik { width:95px; height:25px; background:none/*transparent url('img/input3-.jpg') no-repeat scroll left top*/; border:0; padding:0 2px; line-height:25px; font-size:16px; font-weight:bold; margin-bottom:0px; }
#indirim-right { border:1px #00579f solid; padding:4px 4px 6px; width:450px; float:right; }
#fatura-ust { width:408px;position:relative; }
#FaturaTarihi { height:16px; width:78px; padding:0 2px; border:0; line-height:12px; font-size:10px; position:absolute; top:95px; left:65px; color:#00579f; }
/*#FaturaTarihi { height:16px; width:100px; border:0; line-height:12px; font-size:10px; position:absolute; top:76px; left:0px; color:#00579f; }*/
#Sayin { line-height:12px; font-size:12px; color:#00579f; font-weight:bold; }
#Sayin #isim { width:150px; height:16px; background:none; border:0; line-height:12px; font-size:12px; color:#00579f; font-weight:bold;margin-top:5px; }
#AboneGrubu { width:299px; height:16px;  background-color:#d4d3cd; border:0; padding:0 2px; line-height:12px; font-size:10px; text-align:left; }
.fatura { color:#00579f; font-size:10px; border-left:1px #00579f solid; border-top:1px #00579f solid; }
.fatura td { border-right:1px #00579f solid; border-bottom:1px #00579f solid; height:14px; padding:0 1px; text-align:center; }
.fatura .baslik { color:#f00; font-weight:bold;}
.fatura td input { border:0; width:60px; text-align:center; font-size:10px; background:#fff; color:#00579f; margin:1px; }
.faturayazdir { position:absolute; bottom:11px; right:25px; text-decoration:underline; font-weight:bold; }
#Div1 #closeImg {
    float:right;
}

.content-title {
    font-size:12px;
    color:#eb5a05;
}

.hes-btn {
    background-color:#83ac36;
    padding:3px;
    border-radius:3px;
    color:#fff;
}
.kazanc-baslik { color:#f10b0e !important; font-size:18px !important; }

#indirim-left p {
    font-weight:normal !important;
    color:#808080;
    font-size:12px;
    margin-top:25px;
}

input[type="text"]#TRTPayi,input[type="text"]#EnerjiFonu,input[type="text"]#BTV {
width:10px;
}

