﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="leftMenu.ascx.cs" Inherits="Kolen.leftMenu" %>
<div class="span3 leftBg">
    <asp:Repeater runat="server" ID="rptSayfalar">
        <ItemTemplate>
            <a href="/page.aspx?id=<%#Eval("id")%>">
            <div class="left-menu-item">
              <p class="yaz"> <%#Eval("baslik")%></p> 
            </div>
            </a>
        </ItemTemplate>
    </asp:Repeater>
</div>

